body{
	margin:20px auto;
	max-width:850px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0 10px
}

h1{
	font-family: 'Lilita One', sans-serif;
	line-height:1.27;
	text-align: center;
}

h2,h3{
	font-family: 'Lilita One', sans-serif;
	line-height:1.27;
}

p{
	font-family: 'Montserrat', sans-serif;
	
}

 img {
    max-width: 100%;
    height: auto;
}